a{
    text-decoration: none;
    color: black;
    
}

.header{
    margin-top: 20px;
    text-align: right;
}

.header > a{
    padding-right: 30px;
}

.skill{
    text-align: center;
    margin-top: 100px;
} 


.intro{
    display: flex;
    margin-left: 100px;
    background-color: gray;
    color: honeydew;
    margin-right: 25px;
    margin-top: 30px;
}

.top1{
    margin-left: 40px;
    margin-right: 180px;
   

}


.top2{
    margin-right: 170px;
}

.top3{
    margin-right: 180px;
}


.info{
    float: left;
    width: 100%;
    margin-left: 100px;
    display: flex;
    margin-bottom: 200px;
}

.skills1{
    margin-right: 50px;
    background-color: tomato;
    width: 300px;
}

.skills2{
    margin-right: 50px;
    background-color: orange;
    width: 300px;
    
}

.skills3{
    margin-right: 50px;
    background-color: mediumseagreen;
    width: 300px;
}

.skills4{
    margin-right: 40px; 
    background-color: lightskyblue;
    width: 250px;
}

body{
    background-color: ivory;
}

.copyrightinfrigement{
    text-align: center;
    margin-top: 100px;
}
