a{
    text-decoration: none;
    color: black;
    
}

.header{
    margin-top: 20px;
    text-align: right;
}

.header > a{
    padding-right: 30px;
}

.line1{
    text-align: center;
    color: red;
    margin-top: 100px;
}

.experience{
    text-align: center;
}
